{% extends 'layouts/base.html' %} {% block title %}Home{% endblock %}
{% from 'ui/card.html' import card_header, card_title, card_content,
card_footer %} {% block content %}

<div class="card container h-full flex flex-col">
  <!-- Card Header -->
  {% call card_header() %}
  <!-- CardTitle -->
  {% call card_title() %} Speed: {{ speed }} playback: {{ playback }}
  {% endcall %} {% endcall %}
  <!-- Card content -->
  {% call card_content() %}
  <p>
    This is the content of the card. It can be anything you want it to
    be.
  </p>
  {% endcall %} {% call card_footer() %} This is the footer of the
  card. {% endcall %}
</div>
<script type="module">
  import {
    speed,
    playback,
    globalEffect,
  } from "./static/modules/global-states.js";

  globalEffect(() => {
    console.log({ playback: playback.value });
  }, [playback]);

  globalEffect(() => {
    console.log({ speed: speed.value });
  }, [speed]);
</script>
{% endblock %}
