<footer class="mt-auto p-4">
  <section
    class="card container h-[58px] py-4 px-6 text-xs flex items-center"
  >
    &copy; <span id="year"></span>&nbsp;Satil Pereira | All Rights
    Reserved |&nbsp;
    <a
      class="text-blue-500 underline"
      href="https://satil.dev"
      target="_blank"
      >satil.dev</a
    >
  </section>
</footer>
<script>
  const year = new Date().getFullYear();
  document.getElementById("year").textContent = year;
</script>

<!-- Development version -->
<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

<!-- Production version -->
<!-- <script src="https://unpkg.com/lucide@latest"></script> -->
<script>
  lucide.createIcons();
</script>
